<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905368670788-id19oi3c07qud138r1grjj0ejapqj58e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905368670788-id19oi3c07qud138r1grjj0ejapqj58e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>905368670788-aq4uroqm6lkigdf6l6i2nkr2p6d4rj63.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIrNgF9-vyWFtrehzW1tK6H0DcL1dR3Kw</string>
	<key>GCM_SENDER_ID</key>
	<string>905368670788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mixture.music.mixtureMusicApp</string>
	<key>PROJECT_ID</key>
	<string>mixturemusic-f0b97</string>
	<key>STORAGE_BUCKET</key>
	<string>mixturemusic-f0b97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905368670788:ios:4982b82160456b1a4c2211</string>
	<key>DATABASE_URL</key>
	<string>https://mixturemusic-f0b97-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>